<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Liked Paintings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="Card container">
    <div class="card-group" *ngFor="let painting of likedPaintings">
      <ion-card>
        <img [alt]="painting.title" [src]="painting.primaryImage" />
        <ion-card-header>

            <ion-card-title>{{ painting.title }}</ion-card-title>
            <ion-card-subtitle>{{ painting.department }}</ion-card-subtitle>
            <ion-card-subtitle>{{ painting.artistDisplayName }}</ion-card-subtitle>

          <ion-button fill="clear" class="like-button" (click)="likePainting(painting, $event)">
            <ion-icon [name]="isLiked(painting) ? 'heart' : 'heart-outline'"></ion-icon>
          </ion-button>
        </ion-card-header>
        <ion-card-content>
          <ion-button expand="block" (click)="openDetails(painting)">View Details</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>



